<!--<p fundoAmarelo>
  Texto com fundo amarelo.
</p>

<button type="" fundoAmarelo>Botão com fundo amarelo</button>

<br><br>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>


<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight quando passo o mouse com cores personalizadas.
</p>-->


<h5>Diretiva Customizada *ngElse</h5>

<div *ngIf="mostrarCursos">
  Lista de cursos
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar ou não mostrar cursos</button>